$path_img: '../images/';
$fonColor: #fff;

$radius: 5px;
$time: 0.15s;


/*
$screen_lg:  $screen-lg - 1;
$screen_md:  $screen-md - 1;
$screen_sm:  $screen-sm - 1;
$screen_xs:  $screen-xs - 1;
*/

$screen_min: 320px; 




$color_main: #000;
$color_white: #fff;
$color_menu_hover: #2e51cf;



$button_round_gradient_from: #89c0ff;
$button_round_gradient_before: #cbaeff;



$gradient_orange_from: #ff6714;
$gradient_orange_before: #f7490c;

$gradient_purple_from: #8ac0ff;
$gradient_purple_before: #caafff;

$gradient_blue_from: #6054e2;
$gradient_blue_before: #2851cc;









$header_height: 55px;




$footer_height: 510px;
$footer_color: #6e8192;
$footer_color_hover: #f74b0c;



$OpenSans: 'OpenSans';
$OpenSans_Regular: 'OpenSans-Regular';
$OpenSans_Semibold: 'OpenSans-Semibold';
$OpenSans_Bold: 'OpenSans-Bold';

$fonts_path: '../fonts/';
$font_main: sans-serif;
$font_home: $OpenSans_Regular;